<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Biludlejning</title>
</head>

<body>
<div th:replace="fragments/general :: header"> </div>
<div class="container">

    <a href="/dataregistrering" class="selection-box"> Dataregistrering</a>
    <a href="/skaderegistrering" class="selection-box"> Skaderegistrering og udbedring</a>
    <a href="/udviklere" class="selection-box"> Forretnings udviklere</a>

</div>

</body>
</html>