<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Lejeaftaler</title>
</head>
<body>
<div th:replace="fragments/general :: header"> </div>

<div class="btn-group">
    <div class="button" onclick="openForm()">Skift status</div>
    <a class="button" href="/faktura">Opret skadefaktura</a>
</div>

<div class="lejeaftaler" th:each="lejeaftale : ${lejeaftaler}">

<div class="displaybox">

    <div class="lejeaftaleID">
        <p style="font-size: large" th:text="${lejeaftale.lejeaftaleID}"></p>
    </div>

    <div class="paragraph-box">
        <p th:text="${lejeaftale.kunde}"></p>
        <p th:text="${lejeaftale.bil}"></p>
    </div>

    <div class="status-box">
        <p th:text="${lejeaftale.bil.status}"></p>
    </div>

</div>
</div>

<div class="popup-form" id="myForm">
    <form class="form-container" method="POST" action="/lejeaftaler">
        <h1>Indtast ønsket status</h1>

        <label for="lejeaftaleID">LejeaftaleID</label>
        <input id="lejeaftaleID" type="text" placeholder="LejeaftaleID" name="lejeaftaleID" required>
        <label for="status"><b>Status</b></label>
        <input id="status" type="text" placeholder="Status" name="status" required>

        <input type="submit" class="button" value="Ændre status" onclick="closeForm()">
        <button onclick="closeForm()"></button>
    </form>

</div>

<script>

    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

</script>

</body>
</html>