<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Lejeaftaler</title>
</head>
<body>
<div th:replace="fragments/general :: header"> </div>

<div class="displaybox" th:each="lejeaftale : ${lejeaftaler}">
    <div class="paragraphbox">
    <p th:text="${lejeaftale.kunde}"></p>
    <p th:text="${lejeaftale.bil}"></p>
    </div>

    <button onclick="myFunction()" class="button">
        <p th:text="${lejeaftale.bil.status}"></p>
    </button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#">UDLEJET</a>
        <a href="#">TILBAGELEVERET</a>
        <a href="#">AFSLUTTET</a>
    </div>

    <a class="button" href="faktura.html">Opret skadefaktura</a>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
document.getElementById("myDropdown").classList.toggle("show");
}

/*Close the dropdown menu if the user clicks outside of it*/
window.onclick = function(event) {
if (!event.target.matches('.button')) {
var dropdowns = document.getElementsByClassName("dropdown-content");
var i;
for (i = 0; i < dropdowns.length; i++) {
var openDropdown = dropdowns[i];
if (openDropdown.classList.contains('show')) {
    openDropdown.classList.remove('show');
}
}
}
}
</script>

</body>
</html>