<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Opret lejeaftale</title>
</head>
<body>
<div th:replace="fragments/general :: header"> </div>


    <form class="form-container" method="POST" action="/opret-lejeaftale">
        <h1>Lejeaftaleformular</h1>

        <label for="cprnummer"><b>CPR-nummer</b></label>
        <input id="cprnummer" type="text" placeholder="Indtast cpr-nummer af kunde" name="cprnummer" required>
        <label for="stelnummer"><b>Stelnummer</b></label>
        <input id="stelnummer" type="text" placeholder="Indtast stelnummer på ønsket bil" name="stelnummer" required>

        <input type="submit" class="submitbtn" value="Opret lejeaftale">
        <input type="button" class="cancelbtn" onclick="closeForm()" value="Luk" >
    </form>

<script>
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

</body>
</html>