<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Skaderegistrering</title>
</head>
<body>
<div th:replace="fragments/general :: header"> </div>

<div class="container">


    <div class="bilrapport">
        <button class="open-button" onclick="openForm()">Registrer skader</button>
        <div class="wishlist-box" th:each="wishlist : ${userWishlists}">
            <p th:text="${wishlist.wishlistName}"></p>
        </div>

    </div>


    <div class="popup-form" id="myForm">
        <form class="form-container" method="POST" action="/skaderegistrering">
            <h1>Registrer skader</h1>

            <label for="wishlist-name"><b>Navn</b></label>
            <input id="wishlist-name" type="text" placeholder="Indtast ønskeliste navn" name="wishlist-name" required>
            <label for="wishlist-description"><b>Beskrivelse</b></label>
            <input id="wishlist-description" type="text" placeholder="Indtast beskrivelse" name="wishlist-description">

            <input type="submit" class="btn" value="Opret ønskeliste">
            <input type="button" class="btn cancel" onclick="closeForm()" value="Luk">
        </form>
    </div>

</div>

</body>
</html>